@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/************************************************************** nav **********************************************************/

#navbar {
  height: 39px;
  justify-content: space-between;
  margin-top: 42px;
}

.nav_item {
  width: 32%;
  height: 39px;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: rgba(144, 147, 166, 1);
}

#menu_button {
  width: 48px;
  height: 39px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  cursor: pointer;
}

#menu_button img {
  width: 14px;
  height: 11px;
}

#logo {
  width: 135px;
  height: 32px;
  cursor: pointer;
}

#navbar ul {
  justify-content: space-evenly;
}

#navbar ul li {
  width: auto;
  text-align: center;
}

#person-img,
#cart-img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

#cart {
  cursor: pointer;
}

#cart-dropdown {
  position: absolute;
  top: 85px;
  transform: translateX(-25%);
  visibility: hidden;

  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.25);

  background-color: #ffffff;
  width: 270px;
  height: auto;

  padding: 18px;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#cart-dropdown:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  top: -12px;
  left: 195px;
  transform: rotate(45deg);
  box-shadow: -2px -2px 4px -1px rgba(0, 0, 0, 0.11);
}

#cart-content::-webkit-scrollbar {
  display: none;
}

#cart-line-container {
  height: 20px;
  width: 100%;
}

#cart-title {
  font-size: 12px;
  font-weight: 300;
  color: #000000;
  line-height: 15px;
  letter-spacing: 0.5px;
  align-self: flex-start;
}

.cart-item {
  width: 234px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 0px;
  height: auto;
  position: relative;
  top: 0;
}

.item-description {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 55%;
  height: 71px;
}

.item-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
  justify-self: flex-start;
}

.item-description p {
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  font-weight: 300;
}

.item-details {
  flex-direction: column;
  align-items: flex-start;
}

.cart-item-img {
  width: 71px;
  height: 71px;
  border-radius: 4px;
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-item-img {
  width: 12px;
  height: 12px;
}

#buy-now {
  width: 234px;
  height: 32px;

  background: #ffe145;
  border-radius: 3px;
  border: 0px;
  color: rgba(183, 156, 16, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  cursor: pointer;
}

.cart-nav {
  width: 234px;
  height: 32px;

  margin: 10px 0;

  font-size: 20px;
  line-height: 32px;
  vertical-align: middle;
  border: none;

  background: #e5e5e5;
  color: #9093a6;
  cursor: pointer;
}

.cart-nav:hover {
  background: #313030;
}

/*********************************************************** landing content *************************************/

#landing_content {
  height: 750px;
  justify-content: space-evenly;
}

#bc_container {
  flex-direction: column;
  width: 50%;
}

#banner_content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 280px;
}

#banner_content h1 {
  height: 185px;
  width: 450px;
  font-size: 54px;
  font-weight: 300;
  line-height: 62px;
  color: #3f4255;
  letter-spacing: 0.135em;
  text-align: left;
  margin-bottom: 10px;
}

#landing_buttons {
  height: 54px;
  align-self: flex-start;
  width: 230px;
  justify-content: space-between;
}

.landing_button {
  height: 54px;
  width: 108px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ffe500;
  flex-direction: column;
  cursor: pointer;
}

.landing_button:hover {
  background: #ffe145;
}

.lbtn_text {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 15px;
}

.bold {
  font-size: 14px;
  font-weight: 700;
}

#banner_photo {
  width: 50%;
}

#banner_photo img {
  max-height: 700px;
  max-width: 700px;
}

/* ****************************************delivery info*****************************************************/

#delivery {
  transform: translate(25%, -50px);
  width: 648px;
  height: 78px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

#delivery ul {
  justify-content: space-evenly;
}

#delivery .icon {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}

#delivery #time {
  width: 185px;
  height: 42px;
}

#delivery #driver {
  width: 140px;
  height: 42px;
}

#delivery #france {
  width: 177px;
  height: 42px;
}

#delivery p {
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #3f4255;
}

/************************************************************/

#buy_online {
  flex-direction: column;
  margin: 96px 0;
}

#buy_online h2 {
  font-size: 27px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.08em;
  margin-bottom: 16px;
}

.item-img {
  width: 222px;
  height: 224px;
  margin-bottom: 17px;
}
.item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 11px;
}

.item-price {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #b79c10;
  letter-spacing: 0.5px;
  margin-bottom: 14px;
}

.item-amount {
  margin-bottom: 17px;
  justify-content: flex-start;
}

.amount-label {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #000000;
}

.amount {
  border: 1px solid #000000;
  background: #ffffff;
  width: 30px;
  height: 21px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.add_to_basket {
  width: 138px;
  height: 32px;
  background: #ffe145;
  border-radius: 3px;
  border: 0px;
  color: rgba(183, 156, 16, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  cursor: pointer;
}

/********************************************* restaurants ****************************************************/

#restaurant {
  height: 380px;
  flex-direction: column;
}

#r_title {
  height: 48px;
  width: 942px;
  justify-content: space-between;
  margin-bottom: 36px;
}

#r_title h2 {
  font-size: 27px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.08em;
}

#show_all {
  padding: 12px 18px;
  background: #f2f4fa;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

#show_all:hover {
  background: #d4d7e6;
}

#show_all p {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #9093a6;
}

.lr {
  height: 36px;
  justify-content: space-between;
  transform: translateY(-111px);
}

#left,
#right {
  height: 36px;
  width: 36px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 19px;
  border: 0;
  background: white;
  cursor: pointer;
}

#left {
  transform: translateX(-50%);
}
#right {
  transform: translateX(50%);
}

#left img,
#right img {
  height: 18px;
  width: 18px;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
}

.single_restaurant {
  flex-direction: column;
  filter: drop-shadow(0px 2px 16px rgba(60, 62, 74, 0.08));
  border-radius: 4px;
}

.meal {
  width: 222px;
  height: 138px;
}

.r_logo {
  width: 222px;
  height: 84px;
}

/*******************************************branding*********************************************/

#branding_partner {
  background-color: #f2f4fa;
  height: 222px;
}

#bt_container {
  width: 40%;
}

#form {
  width: 40%;
}

#branding_title {
  flex-direction: column;
  align-items: flex-start;
}

#branding_title h2 {
  font-size: 27px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.08rem;
  color: rgba(63, 66, 85, 1);
  margin-bottom: 9px;
}

#branding_title p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #3f4255;
  line-height: 15px;
  height: 30px;
  width: 315px;
}

#femail {
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
  width: 252px;
  height: 54px;
  border-radius: 4.5px;
  border: 0px;
  padding-left: 10px;
}

#femail::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 54px;
  letter-spacing: 0.5px;
  color: #9093a6;
  opacity: 0.75;
}

#femail::-moz-placeholder {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 54px;
  letter-spacing: 0.5px;
  color: #9093a6;
  opacity: 0.75;
}

#submit {
  width: 78px;
  height: 54px;
  background: #ffe145;
  border-radius: 3px;
  border: 0px;
  color: rgba(183, 156, 16, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  margin-left: 10px;
  cursor: pointer;
}
#submit:hover {
  background: #fff7cc;
}

/*******************************************map*********************************************/

#map {
  height: 404px;
  overflow: hidden;
}

#map h2 {
  width: 266px;
  height: 96px;
  font-size: 26px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.08em;
  margin-right: 58px;
}

#map img {
  height: 295px;
  width: 630px;
}

/*******************************************general*********************************************/

#general {
  height: 212px;
  flex-direction: column;
}

#general_container {
  height: 212px;
  width: 1080px;
  background-color: #f2f4fa;
}

#general_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 62px;
}

.general_info_child {
  flex-direction: column;
  width: 125px;
}

.general_info_child p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #3f4255;
  margin-top: 2px;
}

.general_info_child img {
  max-height: 125px;
  max-width: 125px;
}

/**********************************************instagram*******************************************/

#instagram {
  height: 384px;
  flex-direction: column;
  overflow: hidden;
}

#text_container {
  height: 48px;
  width: 942px;
  justify-content: left;
  margin-bottom: 15px;
}

#hashtag {
  font-weight: 300;
  font-size: 27px;
  line-height: 24px;
  color: #313030;
  padding-right: 20px;
}

#ig {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #313030;
}

#photos_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
}

#photos_grid img {
  height: 224px;
  width: 222px;
}

/*************************************footer************************************/

footer {
  height: 200px;
  padding: 0 10%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

footer #upper,
#lower {
  justify-content: space-between;
  height: auto;
}

#footer_logo {
  width: 150px;
  height: 33px;
  justify-content: left;
  cursor: pointer;
}

#line_container {
  width: 222px;
  height: 45px;
  flex-direction: column;
}

#line {
  width: 222px;
  height: 1px;
}

#links1 {
  width: 45%;
  justify-content: space-between;
}

#links1 li {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #9093a6;
  cursor: pointer;
}

#links2 {
  width: 130px;
  justify-content: space-between;
}

#links2 li {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sm_icon {
  width: 24px;
  height: 24px;
}

#links3 {
  width: 30%;
  justify-content: space-between;
}

#links3 li {
  width: auto;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

/**************************************************************************************/

@media (max-width: 1000px) {
  #landing_content {
    flex-direction: column;
    height: auto;
    margin-top: 30px;
  }

  #banner_photo {
    margin: 30px 0;
    height: auto;
    width: auto;
  }

  #banner_photo img {
    max-height: 650px;
    max-width: 650px;
  }

  #bc_container {
    width: 100%;
    height: 220px;
  }

  #banner_content {
    width: 100%;
    height: 220px;
  }

  #banner_content h1 {
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.12em;
    text-align: center;
    width: 80%;
    height: auto;
  }

  #landing_buttons {
    align-self: center;
    width: 30%;
  }

  #delivery {
    transform: none;
    margin: 0 auto;
  }

  #buy_online {
    margin: 50px 0;
  }

  #restaurant {
    height: auto;
    flex-direction: column;
  }

  #r_title {
    height: 120px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin: 36px 0;
  }

  .lr {
    transform: translateY(-252px);
  }

  #cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #branding_partner {
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
  }

  #bt_container {
    width: auto;
    height: auto;
  }

  #form {
    width: auto;
    height: auto;
  }

  #branding_title {
    align-items: center;
  }

  #branding_title p {
    text-align: center;
  }

  #map {
    height: auto;
    flex-direction: column;
    margin: 40px 0;
  }

  #map h2 {
    width: auto;
    height: auto;
    margin-right: 0;
  }

  #instagram {
    height: auto;
    margin: 25px 0;
  }

  #text_container {
    height: auto;
    width: 100%;
    justify-content: center;
  }

  #photos_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 18px;
  }

  footer {
    height: auto;
    padding: 0 5%;
    margin: 20px 0;
  }

  footer #upper,
  #lower {
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
  }

  #line_container {
    margin: 0 auto;
    height: 25px;
  }

  #links1 {
    width: 60%;
    height: auto;
  }

  #links2 {
    height: auto;
  }

  #links3 {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 768px) {
  #landing_buttons {
    width: 40%;
  }

  #delivery {
    width: 75%;
    height: 175px;
  }

  #delivery ul {
    flex-direction: column;
    justify-content: space-evenly;
  }
  #map img {
    height: 236px;
    width: 504px;
  }

  #cart-dropdown {
    transform: translateX(-40%);
  }

  #cart-dropdown:before {
    left: 226px;
  }

  .item-img {
    width: 180px;
    height: 180px;
  }

  #buy_online h2 {
    font-size: 24px;
    line-height: 42px;
  }

  #general {
    height: auto;
    flex-direction: column;
  }

  #general_container {
    height: 380px;
    width: 100%;
    background-color: #f2f4fa;
  }

  #general_info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (max-width: 600px) {
  #buttons li span {
    display: none;
  }

  #banner_content h1 {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: 0.08em;
  }

  #bc_container {
    height: 200px;
  }

  #banner_content {
    height: 200px;
  }

  #cart-dropdown {
    transform: translateX(-39%);
  }

  .item-img {
    width: 150px;
    height: 150px;
  }

  #buy_online h2 {
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  #landing_buttons {
    width: 60%;
  }

  .lr {
    transform: translateY(-207px);
  }

  .meal {
    width: 180px;
    height: 110px;
  }

  #r_title {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .r_logo {
    width: 180px;
    height: 68px;
  }

  #branding_title h2 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }

  #map h2 {
    font-size: 20px;
  }

  #map img {
    height: 190px;
    width: 403px;
  }

  #instagram {
    height: auto;
  }

  #photos_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  #links3 {
    width: 80%;
  }
}
